version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  client:
    build: ./Client
    restart: on-failure
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq

  server:
    build: ./Server
    restart: on-failure
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq